{% extends 'base.twig' %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Schedule an&nbsp;Appointment</h1>
    </div>
{% endblock %}
