<div class="schedule">
    <h2>Choose a Doctor</h2>
    <div class="doctors">
        <a *ngFor="let doctor of doctors"
           class="btn btn-default"
           [class.btn-primary]="selectedDoctor == doctor"
           href="#doctor-{{ doctor.id }}"
           (click)="selectDoctor(doctor)"
           role="button">
            {{ doctor.name }}
        </a>
    </div>

    <h2>Available Times</h2>
    <table class="timetable table table-striped" *ngIf="!timeTableIsLoading && availableSlots.length > 0">
        <tr>
            <th>Time</th>
            <th *ngFor="let day of days">{{weekDays[day.getDay()]}}<br/>{{day.toLocaleDateString()}}</th>
        </tr>
        <tr *ngFor="let time of slots">
            <td>{{time[0].time.formatted}}</td>
            <td
                    *ngFor="let day of time"
                    [class.active]="day.active"
                    [class.success]="day.active"
                    [class.danger]="!day.active"
                    (click)="openDialog(day)"
            >
                <span class="glyphicon" [class.glyphicon-ok]="day.active" [class.glyphicon-remove]="!day.active"></span>
            </td>
        </tr>
    </table>
    <div class="progress" *ngIf="timeTableIsLoading">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0"
             aria-valuemax="100" style="width: 100%">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="alert alert-danger" *ngIf="!timeTableIsLoading && availableSlots.length == 0">
        Unfortunately, no time slots are available for this week. Please, try another week if it's acceptable for you.
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="appointment-dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Schedule an Appointment</h4>
                </div>
                <form role="form">
                    <div class="modal-body">
                        <div class="alert alert-danger" *ngIf="formError">
                            {{ formError }}
                        </div>
                        <div class="form-group">
                            <div class="well">
                                <p>You're going to schedule an appointment to <strong>{{appointment.doctor?.name}}</strong> on <strong>{{appointment.startLocalTime?.toLocaleString()}}</strong>.</p>
                                <p>If the time is correct, please, leave your phone number so we can contact you and confirm the appointment.</p>
                            </div>
                            <label for="phone">Your Phone Number</label>
                            <input type="text" id="phone" class="form-control" [(ngModel)]="appointment.phone"
                                   placeholder="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" [disabled]="disableForm" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" [disabled]="disableForm" (click)="createAppointment(appointment)">Schedule</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>